* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial;
}

form {
    display: flex;
    flex-direction: column;
    width: 25%;
    margin: 72px auto;
}

#header {
    display: flex;
    margin: 0;
    padding: 24px;
    background: black;
    color: whitesmoke;
    justify-content: space-between;
}

#header a {
    margin: 0 12px;
    font-size: 12pt;
    font-family: Arial;
    color: white;
    text-decoration: none;
}

#header a:hover {
    color: lightgrey;
    border-bottom: 1px solid grey;
}

#content {
    text-align: center;
}

#submit-button {
    padding: 12px 24px;
    margin: 12px auto;
    width: fit-content;
    cursor: pointer;
}

#index-message {
    font-size: 24pt;
    padding-right: 24px;
    text-align: right;
}

#message {
    float: left;
    width: 50%;
}

#image {
    width: 25%;
}

#list-stocks {
    text-align: left;
    width: 100%;
    padding: 16px;
}

#list-stocks thead {
    background: lightgrey;
}

#list-stocks th, #list-stocks td {
    padding: 4px;
    border: 1px solid black;
    margin: 2px;
}

.error {
    font-family: monospace;
    color: red;
}

.login-input {
    outline: none;
    padding: 12px;
    margin: 8px 0px;
}