{% extends 'base.j2' %}
{% block content %}

<form method="POST">
    <h4>Add a new stock</h4>
    <div>
        <label>Symbol: </label>
        <input name="symbol" placeholder="GOOG" />
    </div>
    <div>
        <label>Shares: </label>
        <input name="shares" type="number" />
    </div>
    <div>
        <label>Purchase Price: </label>
        <input name="purchase_price" type="number" step="0.01" />
    </div>
    <div>
        <label>Share Price: </label>
        <input name="share_price" type="number" step="0.01" />
    </div>
    <div>
        <label>Stock Postition: </label>
        <input name="stock_position" type="number" />
    </div>
    <input type="submit" value="Add stock" />
</form>

{% endblock %}