{% extends 'base.html' %}
{% block content %}

<h1>Create a new user account</h1>

<form method="POST">
    <input class="login-input"
        name="username" 
        placeholder="New username" />
    <input class="login-input" 
        id="password"
        name="password"
        type="password"
        placeholder="New password" />
    <p class="error" id="password-error"></p>
    <input class="login-input"
        id="validate-password"
        type="password"
        placeholder="Validate password" />
    <p class="error" id="validate-error"></p>
    <input type="submit" id="submit-button" value="Create" />
</form>

<a href="/login">Already have an account? login here</a>

<script src="/static/js/create.js"></script>
{% endblock %}